<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MainSuite" verbose="1">

  <test name="testsuite-1">
   <classes>
			<class name="com.chefd.SanityCases">
			   <methods>
                   <exclude name="physical_Gifts_Card" />
               </methods>			
			</class>
   </classes>
  </test> <!-- Test -->
 

  <test name="testsuite-2">
   <classes>
		<class name="com.chefd.SanityCases">
			<methods>
                <include name="physical_Gifts_Card" />
            </methods>			
		</class>
   </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->